/node_modules
/public/hot
/public/storage
/public/css
/public/fonts
/public/images
/public/mix-manifest.json
/public/js
/storage/*.key
/vendor
.idea
.vscode
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/composer.lock
/storage/_db
/storage/_redis
/storage/docker
/package-lock.json
/AdminLTE-3.2.0