@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';

$leftBarwidth: 320px;
$topBarheight: 7.5rem;
$footerHeight: 2rem;

$bodyColor: #F5F5F5;
$shadowColor: lightgray;
$redColor: #900000;
html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: $topBarheight;
  margin-bottom: 4.5rem;
  padding-left: $leftBarwidth;
  background: $bodyColor;  
  @media (max-width:992px) {
    padding-left: 0px;
  }
}

a, a:hover{
  color: black;
  text-decoration: none !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footerHeight;
  line-height: $footerHeight;
  font-size: small;
  color: darkgrey;
  background-color: lightgray;

  a {
    color: darkgray;
  }
}

.logo {
  width: 202px;
  margin: 18px 25px;
}

.navbar {
  box-shadow: 0 0 15px $shadowColor;
}

.navbar-brand {
  z-index: 100;
  margin-right: 4rem;
}

.nav-link:hover {
  transition: all 0.4s;
}

.nav-item {
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 16px;
  margin-left: 28px;
}

.nav-link-collapse:after {
  float: right;
  content: '\f067';
  font-family: 'FontAwesome';
}

.nav-link-show:after {
  float: right;
  content: '\f068';
  font-family: 'FontAwesome';
}

.nav-item ul.nav-second-level {
  padding-left: 0;
}

.nav-item ul.nav-second-level>.nav-item {
  padding-left: 20px;
}

div.lang {
  margin: 0 auto;
  width: 300px;
  align-items: center;
  button{
    background: white;
  }
  .langLink {
    width: 40px;
    height: 20px;
    margin: 5px;
  }
}

.lang_text{
  text-transform: uppercase;
}

.center{
  margin: 0 auto;
}

.stamp {
	width: 400px;
	height: 600px;
	display: inline-block;
	padding: 10px;
  float:left;
  margin-left:50px;
  margin-top: 50px;
	background: white;
	position: relative;
  text-align:center;
	-webkit-filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.5));
	background: radial-gradient(
		transparent 0px, 
		transparent 8px, 
		white 8px,
		white
	);
	background-size: 20px 20px;
	background-position: -10px -10px;
}
.stamp:after {
	content: '';
	position: absolute;
	/*We can shrink the pseudo element here to hide the shadow edges*/
	left: 15px; top: 15px; right: 15px; bottom: 15px;
	z-index: -1;
}

.map{
  float:left;
  width: 100%;
  max-width: calc(100% - 200px - 400px);
  margin:50px;
  -webkit-filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.5));
}

div.white{
  width : 100%;
  height:100%;
  padding: 50px;
  text-align: left;
  background: white;
}

.container-fluid:before {
  content: "";
  width: calc(100% - $leftBarwidth - 50px);
  height: calc(100vh - $topBarheight - 50px);
  position: absolute;
  background:
    url(../images/home_jurcorpus.svg),
    url(../images/home_full_text.png),
    url(../images/home_logo.png),
    url(../images/home_busines.png);
  background-position:
    20% 45%,
    center 90%,
    7% 43%,
    150% center;
  background-size:
    60%,
    60%,
    15%,
    70%;
  background-repeat: no-repeat;
  // background-size: 75%,auto,auto,auto,100%;
  @media (max-width:992px) {
    width:100%;
  }
}

@media (min-width: 992px) {
  .sidenav {
    position: absolute;
    top: 0;
    left: 0;
    width: $leftBarwidth;
    height: calc(100vh);
    padding-top: calc($topBarheight);
    background: #ffffff;
    box-sizing: border-box;
    box-shadow: 0 0 15px $shadowColor;
  }

  .navbar-expand-lg .sidenav {
    flex-direction: column;
  }

  .footer {
    width: calc(100% - $leftBarwidth);
  }
}